body{
    margin: 0;
    text-align: center;
    font-family: "Merriweather", serif;
     
}
h1 .name{
    color: #66BFBF;
    font-size: 5.625rem;
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
  
}
h2{
    color: #66BFBF;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem; 
    font-weight: normal;
}
h3{
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
}

.top-container{
    background-color: #E4F9F5;
    position: relative;
    padding-top: 100px;
    
   
}
.middle-container{
   
   
}
.bottom-container{

   
}
.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
    
}
.pro{
    text-decoration: underline;
}
.top-cloud{
    position: absolute;
    right: 450px;
    top: 50px ;
}
.bottom-cloud{
    position: absolute;
    left: 450px;
    bottom: 300px;
}
.profile-picture {
    margin-top: 30px;
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
}

.picture-1{
    width: 25%;
    float: left;
    margin-right: 30px;
}
.picture-2{
    width: 25%;
    float:right;
    margin-right: 30px;
}

a{
    color: #11999E;
}


/*.container{
    position: relative;
    width: 300px;
    height: 300px;
    background-color: grey;
}
.red{
    height: 100px; 
    width: 100px;
    background-color: red;
    position: absolute;
    top: 200px;
    left: 200px;
   
}
.blue{
    height: 100px;
    width: 100px;
    background-color: blue;
    position: absolute;
    top: 100px;
    left: 100px;
    
    
}
.yellow{
    height: 100px;
    width: 100px;
    background-color: yellow;
    position: absolute;

}
*/



 